@page
@model IndexModel
@{
    ViewData["Title"] = "Поиск";
}

<div class="text-center" >
    <form method="post">
        <div>
            <label class="form-label">Поиск по GitHub</label>
        </div>
        <div>
            <input type="text" name="searchText">
            <input type="submit" value="Поиск" />
        </div>
    </form>
</div>
